In [10]:
import pandas as pd

Project dedicated to check if education level has influence on the healthy life expectancy. Based on the data from Eurostat database. 
First step: examine correlation between education level, BMI and fruit&vegetables intake.
Second step: examine additional factors: tobbaco, alcohol and PKB per capita.

In [43]:
bmi= pd.read_csv('bmi/hlth_ehis_bm1e_1_Data.csv')

In [44]:
bmi

,BMI,GEO,UNIT,TIME,ISCED11,SEX,AGE,Value,Flag and Footnotes
0,Underweight,European Union - 27 countries (from 2020),Percentage,2014,"Less than primary, primary and lower secondary...",Males,Total,2.9,NaN
1,Underweight,European Union - 27 countries (from 2020),Percentage,2014,"Less than primary, primary and lower secondary...",Females,Total,4.5,NaN
2,Underweight,European Union - 27 countries (from 2020),Percentage,2014,Upper secondary and post-secondary non-tertiar...,Males,Total,1.0,NaN
3,Underweight,European Union - 27 countries (from 2020),Percentage,2014,Upper secondary and post-secondary non-tertiar...,Females,Total,3.8,NaN
4,Underweight,European Union - 27 countries (from 2020),Percentage,2014,Tertiary education (levels 5-8),Males,Total,0.6,NaN
...,...,...,...,...,...,...,...,...,...
1219,Overweight,Turkey,Percentage,2019,"Less than primary, primary and lower secondary...",Females,Total,67.9,NaN
1220,Overweight,Turkey,Percentage,2019,Upper secondary and post-secondary non-tertiar...,Males,Total,52.0,NaN
1221,Overweight,Turkey,Percentage,2019,Upper secondary and post-secondary non-tertiar...,Females,Total,39.7,NaN
1222,Overweight,Turkey,Percentage,2019,Tertiary education (levels 5-8),Males,Total,59.4,NaN
1223,Overweight,Turkey,Percentage,2019,Tertiary education (levels 5-8),Females,Total,32.7,NaN

In [45]:
bmi.columns

Index(['BMI', 'GEO', 'UNIT', 'TIME', 'ISCED11', 'SEX', 'AGE', 'Value',
       'Flag and Footnotes'],
      dtype='object')

In [47]:
bmi['BMI'].unique()

array(['Underweight', 'Normal', 'Overweight'], dtype=object)

In [48]:
fv_consumption = pd.read_csv('fruit_vegetables/hlth_ehis_fv3e_1_Data.csv')

In [49]:
fv_consumption

,N_PORTION,GEO,UNIT,TIME,ISCED11,SEX,AGE,Value,Flag and Footnotes
0,0 portions,European Union - 27 countries (from 2020),Percentage,2014,"Less than primary, primary and lower secondary...",Males,Total,39.1,NaN
1,0 portions,European Union - 27 countries (from 2020),Percentage,2014,"Less than primary, primary and lower secondary...",Females,Total,30.5,NaN
2,0 portions,European Union - 27 countries (from 2020),Percentage,2014,Upper secondary and post-secondary non-tertiar...,Males,Total,45.9,NaN
3,0 portions,European Union - 27 countries (from 2020),Percentage,2014,Upper secondary and post-secondary non-tertiar...,Females,Total,33.8,NaN
4,0 portions,European Union - 27 countries (from 2020),Percentage,2014,Tertiary education (levels 5-8),Males,Total,38.8,NaN
...,...,...,...,...,...,...,...,...,...
1219,5 portions or more,Turkey,Percentage,2019,"Less than primary, primary and lower secondary...",Females,Total,3.3,NaN
1220,5 portions or more,Turkey,Percentage,2019,Upper secondary and post-secondary non-tertiar...,Males,Total,2.5,NaN
1221,5 portions or more,Turkey,Percentage,2019,Upper secondary and post-secondary non-tertiar...,Females,Total,2.6,NaN
1222,5 portions or more,Turkey,Percentage,2019,Tertiary education (levels 5-8),Males,Total,2.1,NaN
1223,5 portions or more,Turkey,Percentage,2019,Tertiary education (levels 5-8),Females,Total,3.4,NaN

In [52]:
life_expectancy = pd.read_csv('hlth_silc_17/hlth_silc_17_1_Data.csv')

In [54]:
life_expectancy.sample(25)

,TIME,GEO,INDIC_HE,SEX,UNIT,Value,Flag and Footnotes
1,2019,European Union - 27 countries (from 2020),Health expectancy in absolute values at birth,Females,Year,77.0,NaN
54,2019,Ireland,Health expectancy in absolute values at birth,Males,Year,78.7,NaN
94,2019,Cyprus,Health expectancy in absolute values at 65,Males,Year,15.4,NaN
25,2019,Bulgaria,Health expectancy in absolute values at birth,Females,Year,72.9,NaN
68,2019,Spain,Health expectancy in absolute values at 50,Males,Year,28.7,NaN
165,2019,Slovakia,Health expectancy in absolute values at 50,Females,Year,23.0,NaN
15,2019,European Union - 27 countries (2007-2013),Health expectancy in absolute values at 50,Females,Year,:,NaN
151,2019,Romania,Health expectancy in absolute values at birth,Females,Year,73.6,NaN
185,2019,Iceland,Health expectancy in absolute values at 65,Females,Year,:,NaN
41,2019,Denmark,Health expectancy in absolute values at 65,Females,Year,18.4,NaN
84,2019,Italy,Health expectancy in absolute values at birth,Males,Year,77.4,NaN
37,2019,Denmark,Health expectancy in absolute values at birth,Females,Year,76.9,NaN
126,2019,Netherlands,Health expectancy in absolute values at birth,Males,Year,77.5,NaN
150,2019,Romania,Health expectancy in absolute values at birth,Males,Year,68.8,NaN
21,2019,Belgium,Health expectancy in absolute values at 50,Females,Year,30.0,b
188,2019,Norway,Health expectancy in absolute values at 50,Males,Year,29.5,NaN
160,2019,Slovenia,Health expectancy in absolute values at 65,Males,Year,13.7,NaN
92,2019,Cyprus,Health expectancy in absolute values at 50,Males,Year,27.8,NaN
9,2019,European Union - 28 countries (2013-2020),Health expectancy in absolute values at 50,Females,Year,:,NaN
123,2019,Malta,Health expectancy in absolute values at 50,Females,Year,32.7,NaN
46,2019,Germany (until 1990 former territory of the FRG),Health expectancy in absolute values at 65,Males,Year,15.6,NaN
101,2019,Latvia,Health expectancy in absolute values at 65,Females,Year,12.0,NaN
22,2019,Belgium,Health expectancy in absolute values at 65,Males,Year,15.9,b
91,2019,Cyprus,Health expectancy in absolute values at birth,Females,Year,78.4,NaN
167,2019,Slovakia,Health expectancy in absolute values at 65,Females,Year,11.6,NaN